.single-product {
    background: #fefefe;
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 1.157rem;
}